.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.raiseRow {
  z-index: 201;
}

.warningButton {
  border: 1px dashed yellow;
}